{% extends "base.html" %}

{% block title %}
Giáo viên - Quản lý học sinh
{% endblock title %}

{% block navigation %}
{% include 'teacher/navigation.html' with path='student' %}
{% endblock navigation %}

{% block main %}
<div class="container pt-4 pb-3 mb-4 mt-4 border rounded">
    {% if classes_room %}
    <div class="d-flex flex-wrap justify-content-around">
        {% for class in classes_room %}
        <div class="card ms-1 me-1 mb-4" style="width: 260px;">
            <div class="card-header">
                <h5>{{ class.name }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Khóa học năm: {{ class.year }}</p>
                <hr>
                <button type="button" class="btn btn-danger float-end" id="delete-class-button">
                    <i class="fa-solid fa-trash me-2" id="delete-class-icon"></i> Xóa
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h6 class="text-center">Không có lớp học nào <i class="fa-solid fa-face-sad-tear" style="color: black;"></i></h6>
    {% endif %}
</div>

<!-- Search class -->
<div style="position: fixed; right: 40px; bottom: 120px">
    <div class="input-group">
        <input type="text" class="form-control text-center rounded-start-pill" style="width: 70px;"
            id="class-search-input" required>
        <button class="btn btn-outline-primary rounded-end-pill p-2" type="button" id="button-addon2"
            onclick="searchClass()">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</div>

<!-- Add new classroom -->
<div style="position: fixed; right: 40px; bottom: 50px;">
    <button class="btn btn-primary btn-rounded p-3 rounded-pill shadow" data-bs-toggle="modal"
        data-bs-target="#addNewClassModal" id="add-class-button">
        <i class="fas fa-circle-plus me-2"></i> Thêm
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="addNewClassModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm lớp học mới</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-class-form" class="needs-validation" method="POST">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1" style="width: 115px;">Tên lớp học</span>
                        <input type="text" class="form-control text-center" aria-describedby="basic-addon1"
                            value="{{ form.name.value|default:'' }}" name="name" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1" style="width: 110px;">Năm học</span>
                        {% now "Y" as current_year %}
                        <input type="number" class="form-control text-center" aria-describedby="basic-addon1"
                            value="{{ form.year.value|default:"" }}" name="year" id="create-class-year" required>
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                            onclick="document.getElementById('create-class-year').value = {{current_year}}">Lấy năm hiện
                            tại</button>
                    </div>
                    {% include 'form.html' %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                    onclick="document.getElementById('add-class-form').submit()">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% if form.errors %}
<script>document.getElementById('add-class-button').click()</script>
{% endif %}

{% endblock main %}

{% block style %}
<style>
    .card {
        animation: fade 0.3s linear;
        transition: 0.3s;
    }

    .card:hover {
        box-shadow: 5px 5px 5px #bbbbbb;
        border: solid 1px #bbbbbb;
        cursor: pointer;
    }
</style>
{% endblock style %}

{% block script %}
<script>
    let params = new URLSearchParams(document.location.search)
    var searchInput = document.getElementById('class-search-input')
    searchInput.value = params.get('filter_class')
    searchInput.focus()

    function searchClass() {
        location.href = `{% url 'teacher_class' %}${searchInput.value ? `?filter_class=${searchInput.value}` : ''}`
    }

    searchInput.addEventListener("keypress", (event) => {
        if (event.key === "Enter") searchClass();
    })
</script>
{% endblock script %}