# Virtual environments folder
.venv/
venv/

# Python cache folder
__pycache__/

# Evironment file
.env
!docker/.env

# Code generation folder
.static/
.media/
.database/
.scannerwork/
