# Python
python-dotenv==1.0.0

# Django
django==4.2.8
pylint_django==2.5.5

# Image handling
Pillow==10.1.0

# Excel reader
pandas==2.1.4
openpyxl==3.1.2

# Microsoft word reader
python-docx==1.1.0
