{% extends "base.html" %}

{% block title %}
Học sinh - Trang chủ
{% endblock title %}

{% block navigation %}
{% include 'student/navigation.html' with path='change_password' %}
{% endblock navigation %}

{% block main %}
<!-- Contest present -->
<div class="container border p-4 bg-body rounded">
  <h5>Đổi mật khẩu <i class="fa-solid fa-key"></i></h5>
  <hr>
  <form method="POST" onsubmit="return checkPassword()">
    <div class="input-group mb-3">
      <span class="input-group-text change_pass_label" id="pass_change">Mật khẩu mới</span>
      <input type="password" class="form-control" aria-describedby="pass_change" name="password" id="password">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text change_pass_label" id="pass_change_again">Nhập lại mật khẩu</span>
      <input type="password" class="form-control" aria-describedby="pass_change_again" name="passwordAgain" id="passwordAgain">
    </div>

    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit">Đổi mật khẩu</button>
    </div>

    {% include 'form.html' %}
  </form>
</div>

{% endblock main %}

{% block style %}
<style>
  .container {
    max-width: 450px;
  }

  .change_pass_label {
    width: 160px;
  }
</style>
{% endblock style %}

{% block script %}
<script>
  var password = document.getElementById('password');
  var passwordAgain = document.getElementById('passwordAgain');

  const checkPassword = () => {
    p_value = password.value
    pa_value = passwordAgain.value

    if (!p_value || !pa_value) {
      alert('Vui lòng nhập mật khẩu mới')
      return false
    }

    if (p_value !== pa_value) {
      alert('Mật khẩu nhập lại không khớp')
      return false
    }

    return true
  }
</script>
{% endblock script %}
