{% extends "base.html" %}

{% block title %}
Học sinh - Trang chủ
{% endblock title %}

{% block navigation %}
{% include 'student/navigation.html' with path='home' %}
{% endblock navigation %}

{% block main %}

{% if not contests_join and not contests_joined %}
<div class="container">
  <h6 class="text-center">Không có cuộc thi nào <i class="fa-solid fa-face-sad-tear"></i></h6>
</div>
{% endif %}

{% for contest in contests_join %}
<div class="container rounded border bg-body p-3 mb-4">
  <h5>{{contest.name}}</h5>
  <hr>
  <div class="d-flex">
    <div class="flex-grow-1">
      <table>
        <tr>
          <td>Từ:</td>
          <td class="text-end fw-medium">{{contest.start_time|date:"H:i d/m/Y"}}</td>
        </tr>
        <tr>
          <td>Đến:</td>
          <td class="text-end fw-medium">{{contest.end_time|date:"H:i d/m/Y"}}</td>
        </tr>
        <tr>
          <td>Hệ số:</td>
          <td class="text-end fw-medium">{{contest.coefficient}}</td>
        </tr>
        <tr>
          <td>Số câu:</td>
          <td class="text-end fw-medium">{{contest.num_question}}</td>
        </tr>
      </table>
    </div>
    <div>
      <a href="{% url 'student_taking_exam' contest__id=contest.id %}" class="btn btn-primary">
        Làm bài<br><i class="fa-solid fa-up-right-from-square"></i>
      </a>
    </div>
  </div>
</div>
{% endfor %}

{% for contest in contests_joined %}
<div class="container rounded border bg-body p-3 mb-4">
  <h5>{{contest.name}}</h5>
  <hr>
  <div class="d-flex">
    <div class="flex-grow-1">
      <table>
        <tr>
          <td>Từ:</td>
          <td class="text-end fw-medium">{{contest.start_time|date:"H:i d/m/Y"}}</td>
        </tr>
        <tr>
          <td>Đến:</td>
          <td class="text-end fw-medium">{{contest.end_time|date:"H:i d/m/Y"}}</td>
        </tr>
        <tr>
          <td>Hệ số:</td>
          <td class="text-end fw-medium">{{contest.coefficient}}</td>
        </tr>
        <tr>
          <td>Đúng:</td>
          <td class="text-end fw-medium">{{contest.num_correct}}/{{contest.num_question}}</td>
        </tr>
      </table>
    </div>
    <div>
      <button disabled class="btn btn-primary">Đã hoàn<br>thành <i class="fa-solid fa-check"></i></button>
    </div>
  </div>
</div>
{% endfor %}
{% endblock main %}

{% block style %}
<style>
  .container {
    max-width: 575px;
  }
</style>
{% endblock style %}

{% block script %}{% endblock script %}
