{% extends "base.html" %}

{% block title %}
Giáo viên - Trang chủ
{% endblock title %}

{% block navigation %}
{% include 'student/navigation.html' with path='home' %}
{% endblock navigation %}

{% block main %}
<div class="container pt-4 pb-3 mb-4 mt-4 border rounded bg-body">
  {% if contests_present %}
  <h5>Các cuộc thi đang diễn ra</h5>
  <hr>
  <div class="d-flex flex-wrap">
    {% for contest in contests_present %}
    <div class="card ms-4 me-4 mb-4 shadow-sm" style="width: 380px;" onclick="location.href=`{% url 'student_taking_exam' contest__id=contest.id %}`">
      <h5 class=" card-header">{{ contest.name }}</h5>
      <div class="card-body">
        <ul>
          <li>Thời gian <i class="fa-regular fa-clock"></i></li>
          <ul>
            <li>
              Bắt đầu: <span class="fw-medium">{{contest.start_time|date:"H:i d/m/Y"}}</span>
            </li>
            <li>
              Kết thúc: <span class="fw-medium">{{contest.end_time|date:"H:i d/m/Y"}}</span>
            </li>
          </ul>
          <li>Bài thi hệ số: <span class="fw-medium">{{contest.coefficient}}</span></li>
          <li>Được tạo bởi: <span class="fw-medium">{{contest.author.full_name|default:contest.author.name|default:contest.author.email}}</span></li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <h6 class="text-center">Không có cuộc thi nào <i class="fa-solid fa-face-sad-tear"></i></h6>
  {% endif %}
</div>
{% endblock main %}

{% block style %}
<style>
  .card {
    animation: fade 0.2s linear;
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 0 0 0.35rem rgba(13, 110, 253, .25) !important;
    cursor: pointer;
  }
</style>
{% endblock style %}

{% block script %}{% endblock script %}
