{% extends "base.html" %}

{% block title %}
Học sinh - Thi
{% endblock title %}

{% block navigation %}
{% include 'student/navigation.html' with path='taking_exam' %}
{% endblock navigation %}

{% block main %}
<div class="container pt-4 pb-3 mb-4 mt-4 border rounded bg-body">
  {% if not questions %}
  <h6 class="text-center">Không có câu hỏi nào <i class="fa-solid fa-face-sad-tear"></i>. Vui lòng liên hệ lại với giáo viên cho thi để được giải quyết</h6>
  {% endif %}
  <form method="POST" action="{% url 'student_save_exam_result' contest__id=contest.id %}">
    {% for question in questions %}
    <div class="card ms-4 me-4 mb-4 shadow-sm 100w load-fade">
      <div class="card-header">
        <h6>{{ question.content }}</h6>
        {% if question.image %}<img src="{{question.image.url}}" class="rounded" alt="Tải hỉnh ảnh lỗi.. Vui lòng load lại trang hoặc liên hệ với giáo viên"> {% endif %}
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {% for answer in question.answer_set.all %}
          <li class="list-group-item form-check">
            <input type="radio" class="form-check-input" value="answer_{{answer.id}}" id="answer_{{answer.id}}" name="question_{{question.id}}" required>
            <label class="form-check-label ps-2 pe-2 hover-hightlight" for="answer_{{answer.id}}">{{ answer.content }}</label>
          </li>
          {% endfor %}
        </ul>
      </div>
      <button type="submit" id="contestSubmitBtn" style="display: none;"></button>
      {% include 'form.html' %}
    </div>
    {% endfor %}
  </form>
</div>
{% endblock main %}

{% block style %}
<style>
  .card {
    min-width: 300px;
  }

  img {
    height: 200px;
  }
</style>
{% endblock style %}

{% block script %}
<script>
  var contestTimeCounter = document.getElementById('contestTimeCounter')
  var contestEndTime = new Date("{{contest.end_time|date:'c'}}")

  // Calc delta time
  var now = new Date()
  var diffTime = (contestEndTime - now) / 1000
  var diffMins = Math.round(diffTime / 60)
  var diffSecs = Math.round(diffTime % 60)

  // Re-update delta time
  setInterval(() => {
    now = new Date()
    diffTime = (contestEndTime - now) / 1000
    diffMins = Math.round(diffTime / 60)
    diffSecs = Math.round(diffTime % 60)
  }, 100000)

  // Initialize time counter
  contestTimeCounter.textContent = `${diffMins} : ${diffSecs}`;

  // Update time counter
  setInterval(() => {
    diffSecs -= 1
    if (diffSecs < 0) {
      diffSecs = 59
      diffMins -= 1
    }
    contestTimeCounter.textContent = `${diffMins} : ${diffSecs}`;
  }, 1000)
</script>
{% endblock script %}
