{% extends "base.html" %}
{% load shuffle %}

{% block title %}
Học sinh - Thi
{% endblock title %}

{% block navigation %}
{% include 'student/navigation.html' with path='taking_exam' %}
{% endblock navigation %}

{% block main %}
{% if questions %}
<form method="POST" action="{% url 'student_save_exam_result' contest__id=contest.id %}" id="questionForm">
  {% csrf_token %}
  {% for question in questions|shuffle %}
  <div class="container rounded border bg-body p-3 mb-4 load-fade">
    <h6><u>Câu {{forloop.counter}}:</u> {{ question.content|linebreaksbr }}</h6>
    <hr>
    {% if question.image %}<img src="{{question.image.url}}" class="rounded">
    <hr>{% endif %}
    <table class="table table-hover">
      <tbody>
        {% for answer in question.answer_set.all|shuffle %}
        <tr onclick="document.getElementById('answer_{{answer.id}}').checked = true">
          <td class="fit-content">
            <input type="radio" class="form-check-input" value="answer_{{answer.id}}" id="answer_{{answer.id}}"
              name="question_{{question.id}}">
          </td>
          <td>{{answer.content|linebreaksbr }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</form>

{% else %}
<div class="container">
  <h6 class="text-center">
    Không có câu hỏi nào <i class="fa-solid fa-face-sad-tear"></i>.
    Vui lòng liên hệ lại với giáo viên cho thi để được giải quyết
  </h6>
</div>
{% endif %}
{% endblock main %}

{% block style %}
<style>
  .container {
    max-width: 700px;
  }

  img {
    max-width: 100%;
    max-height: 200px;
  }
</style>
{% endblock style %}

{% block script %}
<script>
  var contestTimeCounter = document.getElementById('contestTimeCounter')
  var contestEndTime = new Date("{{contest.end_time|date:'c'}}")

  // Calc delta time
  var now = new Date()
  var diffTime = (contestEndTime - now) / 1000
  var diffMins = Math.round(diffTime / 60)
  var diffSecs = Math.round(diffTime % 60)

  // Initialize time counter
  contestTimeCounter.textContent = `${diffMins} : ${diffSecs}`;

  // Update time counter
  setInterval(() => {
    diffSecs -= 1
    if (diffSecs < 0) {
      diffSecs = 59
      diffMins -= 1
    }
    if (diffMins === 0 && diffSecs === 0) document.getElementById('questionForm').submit()
    contestTimeCounter.textContent = `${diffMins} : ${diffSecs}`;
  }, 1000)
</script>
{% endblock script %}
