/* Disabled text selection */
html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body .navbar {
  min-width: 320px;
}

/* Fade animation */
@keyframes fade {
  from {
    transform: translateY(2px);
    opacity: 0;
  }
}

.load-fade {
  animation: fade 0.2s linear;
}


/* Hightlight */
.hover-hightlight {
  transition: 0.2s;
}

.hover-hightlight:hover {
  box-shadow: 0 0 0 0.35rem rgba(13, 110, 253, .25) !important;
  cursor: pointer;
}


/* Main root */
#main {
  margin-top: 82px;
}

.fit-content {
  width: 1%;
  white-space: nowrap;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  .fit-content {
    width: 50px;
    white-space: normal;
  }
}

ul>.nav-item {
  width: 200px;
}

@media only screen and (max-width: 500px) {
  .nav-username {
    display: none !important;
  }
}
