{% extends "base.html" %}

{% block title %}
Đăng nhập
{% endblock title %}

{% block navigation %}
{% endblock navigation %}

{% block main %}
{% if request.user.is_authenticated %}
<script>
  window.location.href = "{% url 'auth_home' %}";
</script>
{% endif %}

<form class="container border p-4" style="max-width: 450px;" method="POST">
  <h3 class="mb-4 text-center">Đăng nhập</h3>

  <div class="form-floating mb-4">
    <input type="email" class="form-control" id="floatingEmailInput" placeholder="name@email.com" name="username" required>
    <label for="floatingEmailInput">Địa chỉ email</label>
  </div>
  <div class="form-floating mb-4">
    <input type="password" class="form-control" id="floatingPasswordInput" placeholder="Mật khẩu" name="password" required>
    <label for="floatingPasswordInput">Mật khẩu</label>
  </div>

  {% include 'form.html' %}

  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary">Đăng nhập</button>
  </div>
</form>
{% endblock main %}

{% block style %}
<style></style>
{% endblock style %}

{% block script %}
<script></script>
{% endblock script %}
