{% extends "base.html" %}

{% block title %}
Giáo viên - Quản lý học sinh
{% endblock title %}

{% block navigation %}
{% include 'teacher/navigation.html' with path='class_room' is_back=True %}
{% endblock navigation %}

{% block main %}
<div class="container pt-4 pb-3 mb-4 mt-4 border rounded bg-body">
  {% if students %}
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr class="text-center align-middle table-info">
        <th>Email</th>
        <th>Họ và tên</th>
        <th>Tên</th>
        <th style="width: 100px;">Có đang hoạt động</th>
        <th style="width: 150px;">Ngày tham gia</th>
        <th style="width: 150px;">Lần đăng nhập cuối</th>
        <th style="width: 100px;">Đổi mật khẩu</th>
        <th style="width: 100px;">Chỉnh sửa</th>
        <th style="width: 70px;">Xóa</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      {% include 'teacher/common/class_room-student-item.html' with student=student %}
      {% endfor %}
    <tbody>
  </table>
  {% else %}
  <h6 class="text-center">Không có học sinh nào <i class="fa-solid fa-face-sad-tear" style="color: black;"></i></h6>
  {% endif %}
</div>

{% include 'teacher/common/class_room-student-delete.html' %}
{% include 'teacher/common/class_room-student-import.html' %}
{% endblock main %}

{% block style %}
<style>
  tbody {
    animation: fade 0.2s linear;
  }
</style>
{% endblock style %}

{% block script %}{% endblock script %}
