{% extends "base.html" %}
{% load static %}

{% block title %}
TKP Quiz | Học sinh
{% endblock title %}

{% block navigation %}
{% include 'teacher/navigation.html' with path='class_room' %}
{% endblock navigation %}

{% block main %}
<div class="container mb-5 d-flex">
  <div class="flex-grow-1">
    <a class="btn btn-secondary" href="{% url 'teacher_class_room__list_create' %}">
      <i class="fa-solid fa-backward"></i> Quay lại
    </a>
  </div>

  <div class="ms-4">
    <button type="button" class="btn btn-secondary me-4"
      onclick="updateClassHandler(event, '/admin/authenticate/classroom/{{class_room.id}}/change/')">
      Cập nhật <i class="fa-solid fa-pen-to-square"></i>
    </button>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#importStudentModal">
      Nhập danh sách <i class="fa-solid fa-file-import"></i>
    </button>
  </div>
</div>

<div class="container py-4 rounded bg-body">
  {% if students %}
  <h5 class="mb-4">Danh sách học sinh lớp {{class_room.name}}</h5>
  <table class="table table-hover">
    <thead>
      <tr class="align-middle">
        <th>Email</th>
        <th>Họ và tên</th>
        <th class="fit-content">Hoạt động</th>
        <th class="fit-content">Đổi mật khẩu</th>
        <th class="fit-content">Chỉnh sửa</th>
        <th class="fit-content">Xóa</th>
      </tr>
    </thead>
    <tbody class="load-fade">
      {% for student in students %}
      <tr class="align-middle">
        <td>{{student.email}}</td>
        <td>{{student.full_name}}</td>
        <td class="text-center">
          <input class="form-check-input" type="checkbox" disabled {% if student.is_active %}checked {% endif %}>
        </td>
        <td class="text-center">
          <button class="btn btn-secondary"
            onclick="baseOpenWindowHandler(`/admin/authenticate/user/${'{{student.id}}'}/password/`);"">
            <i class=" fa-solid fa-key"></i>
          </button>
        </td>
        <td class="text-center">
          <button class="btn btn-secondary"
            onclick="openWindowAndReloadPage(`/admin/authenticate/user/${'{{student.id}}'}/change/`);"">
            <i class=" fa-solid fa-pen-to-square"></i>
          </button>
        </td>
        <td class="text-center">
          <button class="btn btn-danger"
            onclick="deleteStudentHanlder(`{% url 'teacher_class_room__student__delete' class_room__id=class_room.id student__id=student.id %}`, '{{student.email}}')">
            <i class="fa-solid fa-user-slash"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
    <tbody>
  </table>
  {% else %}
  <h6 class="text-center">Không có học sinh nào <i class="fa-solid fa-face-sad-tear" style="color: black;"></i></h6>
  {% endif %}
</div>

<div class="modal fade" id="importStudentModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nhập danh sách học sinh</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" method="POST" enctype="multipart/form-data"
          action="{% url 'teacher_class_room__student__import' class_room__id=class_room.id %}">
          <div class="mb-3">
            <label for="formFile" class="form-label">
              Nhập danh sách học sinh bằng file excel -
              <a href="{% static 'teacher/documents/TKP Quiz - Học sinh - Mẫu danh sách.xlsx' %}">ấn để tải file mẫu</a>
            </label>
            <input class="form-control" type="file" id="formFile" name="student_file" required
              accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="deleteOldStudent" name="is_delete_old">
            <label class="form-check-label" for="deleteOldStudent">Xóa danh sách cũ</label>
          </div>
          {% include 'form.html' %}
          <button type="submit" style="display: none;" id="importStudentSubmitBtn"></button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary"
          onclick="document.getElementById('importStudentSubmitBtn').click()">Nhập danh sách</button>
      </div>
    </div>
  </div>
</div>


<button data-bs-toggle="modal" data-bs-target="#deleteStudentModal" id="deleteStudentShowModalBtn" hidden></button>
<form hidden" method="POST" id="deleteStudentForm">{% csrf_token %}</form>
<div class="modal fade" id="deleteStudentModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Xóa lớp học</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn đang thực hiện lệnh xóa học sinh "<span class="fw-medium" id="deleteStudentEmail"></span>"</p>
        <p>Sau khi thực hiện xong, bạn sẽ <mark>không thể khôi phục lại</mark> dữ liệu này nữa.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-danger" id="deleteStudentSubmitBtn">Xóa học sinh</button>
      </div>
    </div>
  </div>
</div>
{% endblock main %}

{% block style %}{% endblock style %}

{% block script %}
<script>
  var deleteStudentEmail = document.getElementById('deleteStudentEmail')
  var deleteStudentSubmitBtn = document.getElementById('deleteStudentSubmitBtn')
  var deleteStudentForm = document.getElementById('deleteStudentForm')
  var deleteStudentShowModalBtn = document.getElementById('deleteStudentShowModalBtn')

  const deleteStudentHanlder = (url, email) => {
    deleteStudentEmail.innerHTML = email
    deleteStudentForm.action = url
    deleteStudentSubmitBtn.addEventListener("click", () => { deleteStudentForm.submit() })
    deleteStudentShowModalBtn.click()
  }
  const updateClassHandler = (event, url) => {
    event.stopPropagation()
    openWindowAndReloadPage(url)
  }
</script>
{% endblock script %}
