{% extends "base.html" %}

{% block title %}
Giáo viên - Quản lý học sinh
{% endblock title %}

{% block navigation %}
{% include 'teacher/navigation.html' with path='contest' is_back=True %}
{% endblock navigation %}

{% block main %}
{% if not questions %}
<div class="container pt-4 pb-3 mb-4 mt-4 border rounded">
  <h6 class="text-center">Không có câu hỏi nào <i class="fa-solid fa-face-sad-tear" style="color: black;"></i></h6>
</div>
{% endif %}

{% for question in questions %}
<div class="container pt-4 pb-3 mb-4 mt-4 border rounded shadow-sm">
  <div class="d-flex">
    <div class="me-auto">
      <h6>{{ question.content }}</h6>
      {% if question.image %} <img src="{{question.image.url}}" class="rounded" height="200px" alt="Tải hỉnh ảnh lỗi.. Vui lòng load lại trang hoặc cập nhật hình ảnh mới"> {% endif %}
    </div>
    <div>
      <button type="button" class="btn btn-secondary me-3" onclick="updateQuestionHandler(event, '/admin/contest/question/{{question.id}}/change/')">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
      <button type="button" class="btn btn-danger float-end delete-class-btn" onclick="deleteQuestionHanlder(event, '/admin/contest/question/{{question.id}}/delete/')">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
  <hr>
  <ul class="list-group">
    {% for answer in question.answer_set.all %}
    <li class="d-flex list-group-item aria-current=" true">
      <div class="me-auto">
        <input class="form-check-input me-1" type="checkbox" {% if answer.is_correct %} checked {% endif %} disabled>
        {{ answer.content }}
      </div>
      <div>
        <button type="button" class="btn btn-secondary me-3" onclick="updateAnswerHandler(event, '/admin/contest/answer/{{answer.id}}/change/')">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button type="button" class="btn btn-danger float-end delete-class-btn" onclick="deleteAnswerHanlder(event, '/admin/contest/answer/{{answer.id}}/delete/')">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}

{% include 'teacher/common/contest-question-create.html' %}
{% endblock main %}

{% block style %}
<style>
  .container {
    animation: fade 0.2s linear;
    transition: 0.3s;
  }

  .container:hover {
    box-shadow: 0 0 0 0.35rem rgba(13, 110, 253, .25) !important;
  }
</style>
{% endblock style %}

{% block script %}
<script>
  const updateQuestionHandler = updateAnswerHandler = deleteQuestionHanlder = deleteAnswerHanlder = (event, url) => {
    event.stopPropagation()
    openWindowAndReloadPage(url)
  }
</script>
{% endblock script %}
