{% extends "base.html" %}

{% block title %}
Giáo viên - Quản lý học sinh
{% endblock title %}

{% block navigation %}
{% include 'teacher/navigation.html' with path='contest' is_back=True %}
{% endblock navigation %}

{% block main %}

<div class="container pt-4 pb-3 mb-4 mt-4 border rounded bg-body">
  {% if not questions %}
  <h6 class="text-center">Không có câu hỏi nào <i class="fa-solid fa-face-sad-tear" style="color: black;"></i></h6>
  {% endif %}

  {% for question in questions %}
  <div class="card ms-4 me-4 mb-4 shadow-sm 100w" style="min-width: 300px;">
    <div class="card-header d-flex">
      <div class="me-auto">
        <h6>{{ question.content }}</h6>
        {% if question.image %}<img src="{{question.image.url}}" class="rounded" height="200px" alt="Tải hỉnh ảnh lỗi.. Vui lòng load lại trang hoặc cập nhật hình ảnh mới"> {% endif %}
      </div>
      <div class="ms-3" style="min-width: 100px;">
        <button type="button" class="btn btn-secondary me-3" onclick="updateQuestionHandler(event, '/admin/contest/question/{{question.id}}/change/')">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button type="button" class="btn btn-danger float-end delete-class-btn" onclick="deleteQuestionHanlder(event, '/admin/contest/question/{{question.id}}/delete/')">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        {% for answer in question.answer_set.all %}
        <li class="d-flex list-group-item">
          <div class="text-primary" style="min-width: 30px;">
            {% if answer.is_correct %} <i class="fa-solid fa-circle-check"></i> {% endif %}
          </div>
          <div class="me-auto">
            {{ answer.content }}
          </div>
          <div class="ms-3" style="min-width: 100px;">
            <button type="button" class="btn btn-secondary me-3" onclick="updateAnswerHandler(event, '/admin/contest/answer/{{answer.id}}/change/')">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button type="button" class="btn btn-danger float-end delete-class-btn" onclick="deleteAnswerHanlder(event, '/admin/contest/answer/{{answer.id}}/delete/')">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>

{% include 'teacher/common/contest-question-create.html' %}
{% endblock main %}

{% block style %}
<style>
  .card {
    animation: fade 0.2s linear;
    transition: 0.1s;
  }
</style>
{% endblock style %}

{% block script %}
<script>
  const updateQuestionHandler = updateAnswerHandler = deleteQuestionHanlder = deleteAnswerHanlder = (event, url) => {
    event.stopPropagation()
    openWindowAndReloadPage(url)
  }
</script>
{% endblock script %}
