{% extends "base.html" %}

{% block title %}
Giáo viên - Quản lý học sinh
{% endblock title %}

{% block navigation %}
{% include 'teacher/navigation.html' with path='contest' is_back=True %}
{% endblock navigation %}

{% block main %}
<div class="container pt-4 pb-3 mb-4 mt-4 border rounded bg-body">
  {% if not questions %}
  <h6 class="text-center">Không có câu hỏi nào <i class="fa-solid fa-face-sad-tear" style="color: black;"></i></h6>
  {% endif %}

  {% for question in questions %}
  <div class="card ms-4 me-4 mb-4 shadow-sm 100w" style="min-width: 300px;">
    <div class="card-header d-flex">
      <div class="me-auto">
        <h6>{{ question.content }}</h6>
        {% if question.image %}<img src="{{question.image.url}}" class="rounded" alt="Tải hỉnh ảnh lỗi.. Vui lòng load lại trang hoặc cập nhật hình ảnh mới"> {% endif %}
      </div>
      <div class="ms-3" style="min-width: 100px;">
        <button type="button" class="btn btn-secondary me-3" onclick="updateQuestionHandler(event, '/admin/contest/question/{{question.id}}/change/')">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button type="button" class="btn btn-danger float-end delete-class-btn" onclick="deleteQuestionHanlder(event, '/admin/contest/question/{{question.id}}/delete/')">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        {% for answer in question.answer_set.all %}
        <li class="d-flex list-group-item">
          <div class="text-primary" style="min-width: 30px;">
            {% if answer.is_correct %} <i class="fa-solid fa-circle-check"></i> {% endif %}
          </div>
          <div class="me-auto">
            {{ answer.content }}
          </div>
          <div class="ms-3" style="min-width: 100px;">
            <button type="button" class="btn btn-secondary me-3" onclick="updateAnswerHandler(event, '/admin/contest/answer/{{answer.id}}/change/')">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button type="button" class="btn btn-danger float-end delete-class-btn" onclick="deleteAnswerHanlder(event, '/admin/contest/answer/{{answer.id}}/delete/')">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Add new question button -->
<div style="position: fixed; right: 40px; bottom: 50px;">
  <button class="btn btn-primary btn-rounded p-3 rounded-pill shadow" data-bs-toggle="modal" data-bs-target="#createContestQuestionModal" id="createContestQuestionShowModalBtn">
    <i class="fas fa-circle-plus me-2"></i> Thêm
  </button>
</div>
<!-- Add new question modal -->
<div class="modal modal-lg fade" id="createContestQuestionModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Thêm câu hỏi mới</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" method="POST" action="{% url 'teacher_contest__question__list_create' contest__id=contest.id %}">
          <div class="input-group">
            <span class="input-group-text">Câu hỏi</span>
            <textarea class="form-control" name="question_content" required>{{form.question_content.value|default:''}}</textarea>
          </div>
          <hr>
          <div class="input-group mb-2">
            <span class="input-group-text bg-primary text-white" id="createQuestionAnswerA">Đáp án A</span>
            <textarea class="form-control" name="ans_A">{{form.ans_A.value|default:''}}</textarea>
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text" id="createQuestionAnswerB">Đáp án B</span>
            <textarea class="form-control" name="ans_B">{{form.ans_B.value|default:''}}</textarea>
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text" id="createQuestionAnswerC">Đáp án C</span>
            <textarea class="form-control" name="ans_C">{{form.ans_C.value|default:''}}</textarea>
          </div>
          <div class="input-group mb-2">
            <span class="input-group-text" id="createQuestionAnswerD">Đáp án D</span>
            <textarea class="form-control" name="ans_D">{{form.ans_D.value|default:''}}</textarea>
          </div>
          <hr>
          <div class="input-group">
            <span class="input-group-text">Đáp án đúng</span>
            <select class="form-select" id="createQuestionAnswerCorrect" name="ans_correct" onchange="selectAnswerHandler()">
              <option value="A" selected="{% if form.ans_correct.value == 'A' %}selected{% endif %}">Đáp án A</option>
              <option value="B" selected="{% if form.ans_correct.value == 'B' %}selected{% endif %}">Đáp án B</option>
              <option value="C" selected="{% if form.ans_correct.value == 'C' %}selected{% endif %}">Đáp án C</option>
              <option value="D" selected="{% if form.ans_correct.value == 'D' %}selected{% endif %}">Đáp án D</option>
            </select>
          </div>
          {% include 'form.html' %}
          <button type="submit" style="display: none;" id="createContestQuestionSubmitBtn"></button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('createContestQuestionSubmitBtn').click()">Thêm câu hỏi</button>
      </div>
    </div>
  </div>
</div>
{% endblock main %}

{% block style %}
<style>
  .card {
    animation: fade 0.2s linear;
    transition: 0.1s;
  }

  img {
    max-width: 100%;
    max-height: 200px;
  }
</style>
{% endblock style %}

{% block script %}
<script>
  // Create question handler
  var createQuestionAnswerList = {
    'createQuestionAnswerA': document.getElementById('createQuestionAnswerA'),
    'createQuestionAnswerB': document.getElementById('createQuestionAnswerB'),
    'createQuestionAnswerC': document.getElementById('createQuestionAnswerC'),
    'createQuestionAnswerD': document.getElementById('createQuestionAnswerD'),
  }
  const selectAnswerHandler = () => {
    value = document.getElementById('createQuestionAnswerCorrect').value;
    for (item_key in createQuestionAnswerList) {
      createQuestionAnswerList[item_key].classList.remove('bg-primary', 'text-white')
    }
    createQuestionAnswerList[`createQuestionAnswer${value}`].classList.add('bg-primary', 'text-white')
  }
  selectAnswerHandler()

  //Update and delete questin answer handler
  const updateQuestionHandler = updateAnswerHandler = deleteQuestionHanlder = deleteAnswerHanlder = (event, url) => {
    event.stopPropagation()
    openWindowAndReloadPage(url)
  }
</script>

{% if form.errors %}
<!-- Re-open modal when have error -->
<script>document.getElementById('createContestQuestionShowModalBtn').click()</script>
{% endif %}
{% endblock script %}
