{% extends "base.html" %}

{% block title %}
Giáo viên - Trang chủ
{% endblock title %}

{% block navigation %}
{% include 'teacher/navigation.html' with path='home' %}
{% endblock navigation %}

{% block main %}

<iframe width="1120" height="630" src="https://www.youtube.com/embed/Dul6h8gy4Gc?si=SkNQogT_MJ7W_zzW" title="YouTube video player" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

{% endblock main %}

{% block style %}{% endblock style %}

{% block script %}{% endblock script %}
