<ul class="nav nav-pills nav-fill p-2 shadow">
    <li class="nav-item">
        <a class="nav-link {% if path == 'home' %}active{% endif %}" href="{% url 'teacher_home' %}">Trang chủ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if path == 'student' %}active{% endif %}" href="{% url 'teacher_class' %}">
            {% if back is True %}<i class="fa-solid fa-backward"></i>{% endif %} Quản lý học sinh</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if path == 'contest' %}active{% endif %}" href="{% url 'teacher_contest' %}">
            Quản lý bài thi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if path == 'profile' %}active{% endif %}" href="{% url 'teacher_profile' %}">
            Chỉnh sửa trang cá nhân</a>
    </li>
    <li class="nav-item">
        <button class="btn btn-secondary" onclick="window.open('/admin', '_blank');">
            Chuyển đến trang admin</button>
    </li>
    <li class="nav-item">
        <button class="btn btn-danger" onclick="window.location.href='{% url 'logout' %}';">Đăng xuất</button>
    </li>
</ul>