{% url 'teacher_home' as teacher_home_url %}
{% url 'teacher_class_room__list_create' as teacher_class_room__list_create_url %}
{% url 'teacher_contest' as teacher_contest_url %}
{% url 'teacher_profile' as teacher_profile_url %}
{% url 'auth_logout' as auth_logout_url %}

<ul class="nav nav-pills nav-fill p-2 shadow">
  {% include 'teacher/common/nav-item.html' with path=path is_back=is_back nav_item_path='home' nav_item_name='Trang chủ' nav_item_url=teacher_home_url %}
  {% include 'teacher/common/nav-item.html' with path=path is_back=is_back nav_item_path='class_room' nav_item_name='Quản lý lớp học' nav_item_url=teacher_class_room__list_create_url %}
  {% include 'teacher/common/nav-item.html' with path=path is_back=is_back nav_item_path='contest' nav_item_name='Quản lý cuộc thi' nav_item_url=teacher_contest_url %}
  {% include 'teacher/common/nav-item.html' with path=path is_back=is_back nav_item_path='profile' nav_item_name='Trang cá nhân' nav_item_url=teacher_profile_url %}
  <li class="nav-item"> <button class="btn btn-secondary" onclick="window.open('/admin', '_blank');">Chuyển đến trang admin</button> </li>
  <li class="nav-item"> <button class="btn btn-danger" onclick="location.href='{{auth_logout_url}}'">Đăng xuất</button> </li>
</ul>
