<!-- Delete student button -->
<button data-bs-toggle="modal" data-bs-target="#deleteStudentModal" id="deleteStudentShowModalBtn" style="display: none;"></button>

<!-- Delete student modal -->
<div class="modal fade" id="deleteStudentModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Xóa lớp học</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn đang thực hiện lệnh xóa học sinh "<span class="fw-medium" id="deleteStudentEmail"></span>"</p>
        <p>Sau khi thực hiện xong, bạn sẽ <span class="fw-medium text-decoration-underline">không thể khôi phục lại</span> dữ liệu này nữa.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-danger" id="deleteStudentSubmitBtn">Xóa học sinh</button>
      </div>
    </div>
  </div>
</div>
<form style="display: none;" method="POST" id="deleteStudentForm">{% csrf_token %}</form>

<script>
  var deleteStudentEmail = document.getElementById('deleteStudentEmail')
  var deleteStudentSubmitBtn = document.getElementById('deleteStudentSubmitBtn')
  var deleteStudentForm = document.getElementById('deleteStudentForm')
  var deleteStudentShowModalBtn = document.getElementById('deleteStudentShowModalBtn')

  const deleteStudentHanlder = (url, email) => {
    deleteStudentEmail.innerHTML = email
    deleteStudentForm.action = url
    deleteStudentSubmitBtn.addEventListener("click", () => { deleteStudentForm.submit() })
    deleteStudentShowModalBtn.click()
  }
</script>
