<!-- Add new class_room button -->
<div style="position: fixed; right: 40px; bottom: 50px;">
  <button class="btn btn-primary btn-rounded p-3 rounded-pill shadow" data-bs-toggle="modal" data-bs-target="#createClassRoomModal" id="createClassRoomShowModalBtn">
    <i class="fas fa-circle-plus me-2"></i> Thêm
  </button>
</div>

<!-- Add new class_room modal -->
<div class="modal fade" id="createClassRoomModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Thêm lớp học mới</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" method="POST" action="{% url 'teacher_class_room__list_create' %}">
          <div class="input-group mb-3">
            <span class="input-group-text" style="width: 115px;">Tên lớp học</span>
            <input type="text" class="form-control text-center" value="{{ form.name.value|default:'' }}" name="name" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" style="width: 110px;">Năm học</span>
            <input type="number" class="form-control text-center" value="{{ form.year.value|default:'' }}" name="year" id="createClassRoomYearInput" required min="2000" max="2050" step="1">
            <button class="btn btn-outline-secondary" type="button" onclick="document.getElementById('createClassRoomYearInput').value = new Date().getFullYear()">Lấy năm hiện tại</button>
          </div>
          {% include 'form.html' %}
          <button type="submit" style="display: none;" id="createClassRoomSubmitBtn"></button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('createClassRoomSubmitBtn').click()">Thêm lớp học</button>
      </div>
    </div>
  </div>
</div>

<!-- Re-open modal when have error -->
{% if form.errors %}
<script>document.getElementById('createClassRoomShowModalBtn').click()</script>
{% endif %}
