<div class="card ms-4 me-4 mb-4 shadow-sm" style="width: 380px;" onclick="location.href=`{% url 'teacher_contest__question__list_create' contest__id=contest.id %}`">
  <div class="card-header">
    <h5>{{ contest.name }}</h5>
  </div>
  <div class="card-body">
    <ul>
      <li>Thời gian <i class="fa-regular fa-clock"></i></li>
      <ul>
        <li>
          Bắt đầu: <span class="fw-medium">{{contest.start_time|date:"H:i d/m/Y"}}</span>
        </li>
        <li>
          Kết thúc: <span class="fw-medium">{{contest.end_time|date:"H:i d/m/Y"}}</span>
        </li>
      </ul>
      <li>Bài thi hệ số: <span class="fw-medium">{{contest.coefficient}}</span></li>
      <li>Được tạo bởi: <span class="fw-medium">{{contest.author.full_name|default:contest.author.name|default:contest.author.email}}</span></li>
    </ul>
    <hr>
    <div class="text-end">
      <button type="button" class="btn btn-secondary me-3" onclick="updateContestHandler(event, '/admin/contest/contest/{{contest.id}}/change/')">
        <i class="fa-solid fa-pen-to-square me-2"></i> Sửa
      </button>
      <button type="button" class="btn btn-danger float-end delete-class-btn" onclick="deleteContestHanlder(event, `{% url 'teacher_contest__delete' contest__id=contest.id %}`, '{{contest.name}}')">
        <i class="fa-solid fa-trash me-2"></i> Xóa
      </button>
    </div>
  </div>
</div>
