<button data-bs-toggle="modal" data-bs-target="#deleteContestModal" id="deleteContestShowModalBtn" style="display: none;"></button>
<div class="modal fade" id="deleteContestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Xóa cuộc thi</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn đang thực hiện lệnh xóa cuộc thi "<span class="fw-medium" id="deleteContestName"></span>"</p>
        <p>Sau khi thực hiện xong, bạn sẽ <mark>không thể khôi phục lại</mark> dữ liệu này nữa.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-danger" id="deleteContestSubmitBtn">Xóa cuộc thi</button>
      </div>
    </div>
  </div>
</div>
<form style="display: none;" method="POST" id="deleteContestForm">{% csrf_token %}</form>

<script>
  var deleteContestName = document.getElementById('deleteContestName')
  var deleteContestSubmitBtn = document.getElementById('deleteContestSubmitBtn')
  var deleteContestForm = document.getElementById('deleteContestForm')
  var deleteContestShowModalBtn = document.getElementById('deleteContestShowModalBtn')

  const deleteContestHanlder = (event, url, name) => {
    event.stopPropagation();
    deleteContestName.innerHTML = name
    deleteContestForm.action = url
    deleteContestSubmitBtn.addEventListener("click", () => { deleteContestForm.submit() })
    deleteContestShowModalBtn.click()
  }
</script>
